main {
  padding: 10px;
  height: 89.2vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#chatbox::-webkit-scrollbar {
  width: 0rem;
}

#chatbox::-webkit-scrollbar-track {
  background: #1e1e24;
}

#chatbox::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.root {
  max-width: 345;
  overflow-y: hidden;
}
.media {
  height: 0;
  padding-top: "56.25%";
}
.expand {
  transform: "rotate(0deg)";
  margin-left: "auto";
  transition: "transform";
}
.expandOpen {
  transform: "rotate(180deg)";
}
.avatar {
  background-color: red(5, 0, 0);
}
/* input {
  margin: 100px;
  line-height: 1.5;
  background-color: #181717;
  font-size: 1.5rem;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
} */
/* 
 button {
  background-color: #282c34; Green 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}  */

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}
.new {
  color: #181717;
}
ul,
li {
  text-align: left;
  list-style: none;
}

/* p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
} */

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent > p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
  padding: 12px 20px;
  border-radius: 20px;
}
.received > p{
  background: #e5e5ea;
  color: black;
}

p {
  font-size: 16px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.paper {
  margin-top: 8;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
.avatar {
  margin: 1;
  /* background-color: theme.palette.secondary.main, */
}
.form {
  width: "100%"; 
  margin-top: 3;
}
.submit {
  margin: 3, 0, 2;
}

#sendmessage {
  width: 90%;
  margin-left: 5%;
  height: 4vh;
  font-size: 24px;
  background-color: gray;
  border-width: 2px;
  border-radius: 20px;
}
#sendmessage > input {
  border: none;
  background-color: gray;
  margin-left: 20px;
  height: 3vh;
  width: 93%;
  padding: 5px;
  color: #e5e5ea;
}
#chatbox {
  height: 100%;
  width: 70%;
  right: 0;
  /* padding: 2% 0%; */
  overflow-y: scroll;
}

#members {
  width: 30%;
  color: #1e1e24;
}

#chat {
  display: flex;
  flex-direction: row;
}