:root {
  --lightgray: #494949;
  --darkgray: #333333;
  --pink: #c70019;
  --lightergray: #b8b8b8;
  --white: #ffffff;
  --msg: #c8ffe8;
  --MistyBlue: #2f5061;
  --Coral: #e57f84;
  --Ivory: #f4eae6;
  --TealGreen: #4297a0;
}
